$color1: blue;
$color2: darkblue;
$color3: turquoise;
$shadowColor: grey;
$border: 1px solid #180000;
$primary-font: Impact, "Arial Narrow Bold", sans-serif;
$secondary-font: Verdana, Tahoma, sans-serif;
$shadow: -10px 10px 5px 0px $shadowColor;