$color1: red;
$color2: darkred;
$color3: pink;
$shadowColor: grey;
$border: 1px solid black; 
$primary-font: Arial, Helvetica, sans-serif;
$secondary-font: Georgia, Times, "Times New Roman", serif;
$shadow: 10px 10px 5px 0px $shadowColor;